<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label floating>Votre pseudo</ion-label>
      <ion-input type="text" [(ngModel)]="userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select aria-label="Difficulté" interface="action-sheet" placeholder="Choisir une difficulté"
        [(ngModel)]="difficulty">
        <ion-select-option *ngFor="let diff of difficulties" value="{{ diff }}">
          {{ diff }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="saveInfos" checked="false"></ion-toggle>
      <ion-label>Sauvegarder mes informations</ion-label>
    </ion-item>

    <ion-button expand="full" (click)="checkUsername()">Commencer</ion-button>
  </ion-list>
</ion-content>